.nav-lateral {
  align-items: center;
  background-color: white;
  border: solid 1px black;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: space-evenly;
  left: 0;
  position: fixed;
  top: 30%;
  transition: all 0.3s;
  width: 63px;
  z-index: 100;
}

.img-nav {
  border: solid 1px white;
  border-radius: 15px;
  height: 45px;
  padding: 3px;
  transition: all 0.3s;
  width: 45px;
}

.img-nav:hover {
  box-shadow: 1px 1px 5px 1px #03167e;
  width: 47px;
}
