.nav-lateral {
  border: solid 1px black;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 40%;
  transition: all 0.3s;
  width: 55px;
  z-index: 100;
}

.img-nav {
  height: 50px;
  padding: 7px 0;
  width: 50px;
}
